.bg-yellow {
    background: rgb(252, 255, 180);
}

[data-toggle="collapse"] .fa:before {
    content: "\f068";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f067";
}


/* MIN COLUMN SIZE*/
td .min, th.min {
    width: 1%;
    white-space: nowrap;
}

/* MAX COLUMN SIZE*/
td.cell-collapse {
    text-align: left;
    background-color: #fff;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 767px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
    .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px
    }
}

/* no-more-tables */

/* https://findbootstrapsnippets.com/bootstrap-templates/no-more-tables-responsive-table.html */
@media only screen and (max-width: 767px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }
    /* <this was thead tr> Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables th {
        position: absolute;
        top: -9999px;
        left: -9999px;
        display: none;
        border: none;
    }

        #no-more-tables th.center {
            text-align: start;
        }


    #no-more-tables tr {
        border: 2px solid #e0e0e0 /*#ccc*/;
    }

        #no-more-tables tr.collapse {
            display: none;
        }

            #no-more-tables tr.collapse.show {
                display: block;
            }

        #no-more-tables tr.headerRow {
            border: none !important;
            display: none !important;
        }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #e0e0e0 /*#aaa*/;
        position: relative;
        padding-left: 40%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables td.hidden {
            display: none;
        }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 35%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
            Label the data
        */
        #no-more-tables td:before {
            content: attr(data-title);
        }

        #no-more-tables td.center {
            text-align: start;
        }
}

/* Cursors */
.cursor-hand {
    cursor: pointer;
}


/* Demo */
.container {
    width: 100% !important;
}

.card {
    margin: auto !important;
    padding: 5px !important;
    width: 100% !important;
}
